@textColorInMenu: #1d1d1d;
@activeBackgroundMenu: #DFDEDA;

.fontPtSans {
  font-family: 'PT Sans', Tahoma, Geneva, sans-serif;
  font-weight: normal;
}

.headerBackground {
  width: 100%;
  height: 124px;
  border-bottom: 1px solid #ffffff;
  background-color:#534741;
  background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0.32,#534741), color-stop(0.83,#362f2d));
  background-image:-webkit-linear-gradient(#534741, #362f2d);
  background-image:-moz-linear-gradient(top,#534741, #362f2d);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#534741', endColorstr='#362f2d');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#534741', endColorstr='#362f2d')";
  background-image: -ms-linear-gradient(#534741, #362f2d);
  background-image: -o-linear-gradient(#534741, #362f2d);
  background-image: linear-gradient(#534741, #362f2d);
}