body {
  background-color: #efebe8;

  .header-background {
    .headerBackground;
    position: absolute;
    z-index: 0;
  }
  .submenu-background {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 52px;
    top: 125px;
    background: @activeBackgroundMenu;
    border-bottom: 1px solid #ffffff;
  }
  .info-background {
    border-top: 1px solid #a6a2a1;
    border-bottom: 1px solid #c8c3bf;
    width: 100%;
    height: 33px;
    position: absolute;
    top: 178px;
    background: #ffffff;
    span {
      background: #c8c3bf;
      display: block;
      height: 32px;
      width: 100%;
    }
  }
  #main-wrapper {
    display: block;
    width: 945px;
    height: auto;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    header {
      float: left;
      .headerBackground;

      #user-content {
        width: 215px;
        height: 45px;
        margin: 16px 60px 0 0;
        color: #ffffff;
        float: right;

        #user-logged {
          font-size: 16px;
          padding-bottom: 6px;
        }

        #user-message {
          font-size: 12px;
          a {
            color: #ffffff;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .unread-mail {
        display: block;
        width: 28px;
        height: 30px;
        color: #ffffff;
        font-size: 28px;
        text-decoration: none;
        float: right;
        margin: 18px 15px 0 0;
        &:hover {
          text-decoration: none;
        }

        i {
          cursor: pointer;
        }
      }
    }
    nav {
      display: block;
      float: left;
      width: 945px;
      height: 93px;
      position: relative;
      top: -40px;

      ul {
        list-style: none;

        li {
          float: left;
          display: block;
          width: 159px;
          height: 39px;
          background: #ffffff;
          margin-right: 2px;
          &#logout,
          &#server-management,
          &#admin-messages
          {
            width: 44px;
            float: right;
            a {
              width: 42px;
              padding: 0;
              text-align: center;
              i {
                position: relative;
                left: 0;
                cursor: pointer;
              }
            }
          }
          &.active {
            border-bottom: 1px solid @activeBackgroundMenu;
            a {
              background: @activeBackgroundMenu;
              height: 40px;
              margin-bottom: 0;
            }
            ul {
              display: block;
              li {
                height: 52px;
                a {
                  padding: 0 28px;
                  width: auto;
                  height: 52px;
                  margin: 0;
                  background: url('/images/border-right.gif') no-repeat @activeBackgroundMenu;
                  background-position: right center;
                  line-height: 52px;
                  font-weight: 400 !important;
                  &:hover {
                    text-decoration: underline;
                  }
                  i {
                    line-height: 52px;
                  }
                }
                &:last-child a {
                  background: @activeBackgroundMenu;
                }
              }
            }
          }
          a {
            margin: 1px;
            width: 157px;
            height: 38px;
            display: block;
            text-align: center;
            line-height: 38px;
            color: @textColorInMenu;
            text-decoration: none;
            background: #c8c7c5;
            .fontPtSans;
            font-weight: 700 !important;
            letter-spacing: 1px;
            font-size: 15px;
            position: relative;
            padding: 0 20px;
            &:hover {
              text-decoration: underline;
            }
            i {
              position: absolute;
              line-height: 38px;
              left: 10px;
              top: 0;
            }
          }
          ul {
            display: none;
            position: absolute;
            width: auto;
            height: auto;
            left: 0;
            li {
              float: left;
              border: none;
              width: auto;
              margin: 0;
            }
          }
        }
      }
    }
    #info {
      position: relative;
      float: left;
      display: block;
      width: 945px;
      height: 32px;
      top: -39px;
      line-height: 32px;

      ul {
        float: right;
        display: block;
        header: 32px;
        width: 860px;
        list-style: none;
        li {
          float: left;
          line-height: 32px;
          margin-right: 15px;
          padding-right: 20px;
          position: relative;
          .fa-arrow-up {
            right: 0;
            position: absolute;
            color: #CDFD83;
            line-height: 32px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
          }
          .fa-arrow-down {
            right: 0;
            color: #FE4D3D;
            line-height: 32px;
            position: absolute;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
          }
        }
      }
    }
    aside {
      display: block;
      float: left;
      height: 100%;
      width: 285px;
      margin-right: 48px;
      position: relative;
      top: -10px;
      .box-content {
        ul {
          list-style-type: none;
          li {
            .fontPtSans;
            border-bottom: 1px solid #C8C3C0;
            padding: 5px 0;
          }
        }
        .options {
          width: 100%;
          text-align: right;
          padding-top: 10px;
          padding-bottom: 5px;
          .view-more {
            color: #afaeac ;
          }
        }
      }
    }
    #main-content {
      float: right;
      display: block;
      width: 610px;
      height: auto;
      position: relative;
      top: -10px;
    }
    .box {
      display: block;
      float: left;
      border: 1px solid #c8c3c0;
      width: 100%;
      background: #ffffff;
      margin-bottom: 35px;
      h2 {
        position: relative;
        padding: 0 35px;
        display: block;
        .fontPtSans;
        font-weight: 700;
        font-size: 15px;
        height: 42px;
        line-height: 42px;
        background: #c6c5c3;
        margin: 1px;

        i {
          &:first-child {
            position: absolute;
            line-height: 42px;
            left: 10px;
            top: 0;
          }
          &:last-child {
            position: absolute;
            line-height: 42px;
            right: 10px;
            top: 0;
          }
        }
      }
      hr {
        display: block;
        float: left;
        background: #c8c3c0;
        width: 100%;
        height: 1px;
        margin: 0;
        padding: 0;
      }
      .box-content {
        background: #e0dfdd;
        margin: 0 1px 1px 1px;
        padding: 18px 25px;

        .latest-comments {
          list-style-type: none;
          .fontPtSans;
          li {
            padding: 15px 0;
            border-bottom: 1px solid #C8C3C0;
            &:last-child {
              border-bottom: none;
            }
            .avatar {
              width: 60px;
              vertical-align: middle;
            }
            .comment-content {
              vertical-align: top;
              width: 318px;
              font-size: 13px;
            }
            .options {
              width: auto;
              vertical-align: middle;
              a {
                float: left;
                font-size: 13px;
                color: #000000;
                line-height: 22px;
                width: 89px;
                text-decoration: none;
                &:hover {
                  text-decoration: underline;
                }
                i {
                  font-size: 22px;
                  padding-right: 5px;
                  float: left;
                  width: 22px;
                }
                &.aprove i, &.trash i {
                  color: #ADFF2F;
                }
                &.spam i {
                  color: #E0E008;
                }
                &.delete {
                  i {
                    color: #ff0000;
                  }
                }
              }
            }
          }
        }
      }
    }
    .chart {
      div > svg > text:last-child {
        display: none;
        & > tspan {
          display: none;
        }
      }
    }
  }
}