/nbproject/private/
/vendor
/*.bak
/app/cache/dev
/app/logs/*.log
/nbproject
/app/config/parameters.yml
/app/cache/prod
/web/css/compiled/*.css
/web/css/compiled/*.css
/web/css/compiled/*.css
