<section class="box fade" id="designSettings">
    <h2><i class="fa fa-gear"></i>{{ 'adminBundle.menu.settings.design' | trans }}<i class="fa fa-caret-down"></i></h2>
    <hr>
    <div class="box-content" >

    </div>
</section>