<section class="box absolute fade in active" id="siteSettings">
    <h2><i class="fa fa-gear"></i>{{ 'adminBundle.menu.settings.settings' | trans }} {{ 'adminBundle.menu.settings.site' | trans }}<i class="fa fa-caret-down"></i></h2>
    <hr>
    <div class="box-content" >

    </div>
</section>