{% extends 'RJAdminBundle:Menu:menuContent.html.twig' %}

{% block menuContentTitle %}
{% endblock %}

{% block menuContent %}
    <nav class="text-right">
        <a class="btn btn-primary" href="{{ path('rj_admin_settings_menu_add') }}">{{ 'general.add' | trans }}</a>
    </nav>
{% endblock %}