{% extends 'RJAdminBundle::layout.html.twig' %}
{% block title %}- panel główny{% endblock %}

{% block sidebar %}
    <section class="box">
        <h2><i class="icon-bar-chart"></i>Podsumowanie</h2>
        <hr>
        <div class="box-content">
            W trakcie...
        </div>
    </section>
{% endblock %}

{% block body %}
    <section class="box">
        <h2><i class="icon-bar-chart"></i>Statystyka odwiedzin</h2>
        <hr>
        <div class="box-content">
            <div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
        </div>
    </section>
{% endblock %}