{% for category in categoryTree %}
    {% if category.name is not empty %}
        <div class="">
            <a href="{{ path('rj_admin_settings_category_edit', { 'id': category.id }) }}">
                {{ category.name }}
            </a>
        </div>
    {% endif %}
{% endfor %}